@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Sans+Pro&display=swap');

body {
    padding: 0;
    margin: 0;
}

.header {
    width: 100vw;
    height: 20vh;
    background-color: #090a23;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > h1 {
    color: #ffffff;
    font-family: 'Roboto Mono', 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 40px;
}


.container {
    width: 100vw;
    height: 80vh;

    display: flex;
  
}

.navdiv {
    width: 18vw;
    height: fit-content;
    background-color: #090a23;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;


}

.divnav {
    width: 18vw;
    height: 40px;
    background-color: #090a23;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Roboto Mono', 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 20px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;

}

.divnav:hover {
    background-color: white;
    color: #090a23;
}


.contentdiv {
    width: 82vw;
    height: 80vh;
    display: flex;
flex-direction: column;


 
}
.taskdiv {
    width: 82vw;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    row-gap: 10px;
    column-gap: 10px;
   
  
}


.s {
    height: fit-content;
    width: 250px;
    background-color: #090a23;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.newone {
    height: fit-content;
    width: 250px;
    background: radial-gradient(circle, rgba(181,255,132,1) 0%, rgba(116,222,88,1) 48%, rgba(34,147,44,1) 100%);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}
.txtTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 0px 10px;

}
.taskname {

    color: #ffffff;
    font-family: 'Roboto Mono', 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 25px;
    font-weight: bolder;

}

.taskdes {
    color: #ffffff;
    font-family: 'Roboto Mono', 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 15px;


}

.duedate {
    color: #ffffff;
    font-family: 'Roboto Mono', 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.priotask {
    color: #ffffff;
    font-family: 'Roboto Mono', 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    text-decoration:underline;
    margin-bottom: 5px;
}
.btnTask {
  display: flex;
    
}
button {
    height: 30px;
    width: 125px;
}
.btn {
display: flex;
width: 60px;
height: 60px;
margin: 0 auto;




}
#showBtn {
   
 
    cursor: pointer;
 
}




.form {
    display: flex;
    flex-direction: column;
    z-index: 100;
    gap: 5px;
    align-content: center;
    justify-content: center;
    height: 400px;
 width: 500px;
 visibility: hidden;
position: absolute;
margin-top: 20px;
margin-left: 550px;
background-color: #090a23;
background-size: cover;
border-radius: 10px;
text-align: center;
}
.form > select {
    width: 300px;
    position: relative;
    margin-left: 100px;
}
.form > h1{
    color: #ffffff;
    font-family: 'Roboto Mono', 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 25px;
}
.form > button {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: flex;
    align-self: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 900;
   

    

}

.form > label {
    color: #ffffff;
    font-family: 'Roboto Mono', 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 15px;
}
.form > button:hover {
    background-color: lightslategray;
}
.form > input {
    width: 200px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: white;
    display: flex;
    align-self: center;
    padding-left: 5px;
 
   
}
#taskName {
    width: 400px;
}
#taskDesc {
    width: 350px;
    height: 60px;
}

.btnthis {
border: 2px solid #ffffff ;
background-color: #090a23;
color: #ffffff;
cursor: pointer;
font-family: 'Roboto Mono', 'Source Sans Pro', sans-serif;
font-style: italic;
font-size: 20px;
width: 200px;
height: fit-content;


}

.btnthis:hover {
   background-color: lightslategray;
  
}
.BTNDIV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #090a23;
    height: 100%;
}
.navcontainer {
    display: flex;
    flex-direction: column;
}
#projectName {
    padding: 5px;
    border-radius: 8px;
    visibility: hidden;
}
.addProject {
 
    color: #ffffff;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    visibility: hidden;
    border: none;
    cursor: pointer;
    background-color: #090a23;
    font-weight: bolder;
    border: 2px solid #ffffff;
}

.addProject:hover {
    background-color: lightslategray;
}