@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Sans+Pro&display=swap');

body {
    padding: 0;
    margin: 0;
}

.header {
    width: 100vw;
    height: 15vh;
    background-color: #090a23;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > h1 {
    color: #ffffff;
    font-family: 'Roboto Mono', 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 40px;
}


.container {
    width: 100vw;
    height: 85vh;
    background-color: blue;
}